body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #09ba9a, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;
}
